.css-blobbing-demo {
    position: relative;
    overflow: hidden;
    height: 580px;
    text-align: center;
    background-color: #fff;
    cursor: none;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    -webkit-filter: contrast(20);
    filter: contrast(20);
    .shape,
    .hover {
        $diameter: 100px;
        $offset: 100px;
        display: block;
        position: absolute;
        width: $diameter;
        height: $diameter;
        margin: 10px;
        background-color: #000;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        @include border-radius(50%);
        &:nth-child(0n+1) {
            top: $offset;
            left: $offset;
        }
        &:nth-child(0n+2) {
            top: $offset;
            left: 50%;
            margin-left: $diameter / 2 * -1;
        }
        &:nth-child(0n+3) {
            top: $offset;
            right: $offset;
        }
        &:nth-child(0n+4) {
            top: 50%;
            left: $offset;
            margin-top: $diameter / 2 * -1;
        }
        &:nth-child(0n+5) {
            top: 50%;
            left: 50%;
            margin-top: $diameter / 2 * -1;
            margin-left: $diameter / 2 * -1;
        }
        &:nth-child(0n+6) {
            top: 50%;
            right: $offset;
            margin-top: $diameter / 2 * -1;
        }
        &:nth-child(0n+7) {
            bottom: $offset;
            left: $offset;
        }
        &:nth-child(0n+8) {
            bottom: $offset;
            left: 50%;
            margin-left: $diameter / 2 * -1;
        }
        &:nth-child(0n+9) {
            right: $offset;
            bottom: $offset;
        }
    }
    .hover {
        position: absolute;
        top: 0;
        left: 0;
    }
}
